// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Jacquard+24&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet');

// Define fonts for body and headers
$body-font: "Space Grotesk";
$headers-font: "Space Grotesk";


.jacquard-24-regular {
  font-family: "Jacquard 24", system-ui;
  font-weight: 400;
  font-style: normal;
}

// .space-grotesk-body{
//   font-family: "Space Grotesk", sans-serif;
//   font-optical-sizing: auto;
//   font-weight: 400;
//   font-style: normal;
// }
